{% extends 'index.html' %}


{% block content %}
<h1>Welcome,{{user.username}}</h1>

<h2>Cars for Rent</h2>
<div class="container">
    <div class="row">
        {% for car in cars %}
        <div class="=col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{car.car_company}}</h5>
                    <p class="card-text">Rent: {{car.car_rent}}</p>
                    <p class="card-text">Kilometers: {{car.car_kilometers}}</p>
                    <!-- <p class="card-text">{{car.car_last_rented}}</p> -->
                    <p class="card-text">Condition: {{car.car_condition}}</p>
                    <a href="#" class="btn btn-primary" type="submit">Book Your Journey</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<a href="{% url 'logout' %}">Logout</a>
{% endblock %}