{% extends 'index.html' %}


{% block content %}
<h1>Welcome,{{user.username}}</h1>
<div class="container-fluid mt-3">
  <div class="row">


    <!--filter-->

    <div class="col-lg-3 mx-auto">
      <div class="list-group">

        <a href="/" class="list-group-item list-group-item-action ">All Cars</a>


        {% for status in statuses %}
        <a href="/?status={{status.id}}" class="list-group-item list-group-item-action ">{{status.status}}</a>

        <!-- {%if customer%} -->

        <!--  {%endif%} -->
        {% endfor %}
      </div>
      <a href="/checkout" class="list-group-item list-group-item-action">Return</a>


    </div>

    <h2>Cars for Rent</h2>
    <div class="container">



      <div id='cars' class="col-lg-9 mx-auto">
        <div class="row mx-auto">
          {% for car in cars %}
          <div class="card mx-auto mb-3" style="width: 18rem;">


            <img class="card-img-top" src="{{car.image.url}}" alt="Card image cap">
            <div class="card-body">
              <p class="card-title"><b>{{car.car_company}}</b></hp>
              <p class="card-text"><b>Rs.{{car.car_rent}}</b></p>
              <!-- <p class="card-text">{{car.car_last_rented}}</p> -->
              <p class="card-text">Condition: {{car.car_condition}}</p>
              <form action="/car_app/dashboard/" method="POST">
                {%csrf_token%}
                <!--<input type="text" name='carid' value='{{car.id}}' label="carid">
                        <input type="text" name='userid' value='{{user.id}}' label="userid">

                        <input class="btn btn-primary" name='checkout' type="submit" value="Book Your Journey">-->
                <a href="/car_app/checkout/{{car.id}}" class="btn btn-primary">Checkout</a>
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>


    <a href="{% url 'logout' %}">Logout</a>
    {% endblock %}