{% extends 'index.html'%}
{% block content %}


<div>

    <blockquote class="blockquote text-center">
  <p class="mb-1">Welcome,{{user.username}} in Checkout</p>
</blockquote>
	</div>
<h2 align="center">Book Your Car Now</h2>
<div class="card-body" align="center">

<h5 class="card-title">{{car.car_company}}</h5>
<p class="card-text">Rent: {{car.car_rent}}</p>
<p class="card-text">Distance Travelled (in km): {{car.car_kilometers}}</p>
<p class="card-text">Condition: {{car.car_condition}}</p>
<p class="card-text">Last Rented: {{car.last_rented}}</p>
<p class="card-text">Status: {{car.status}}</p>
<p class="card-text">Fuel: {{car.fuel}}</p>
<p class="card-text">Transmission: {{car.transmission}}</p>
<p class="card-text">Seater: {{car.seater}}</p>
<img  src={{car.image.url}} class= "card_image" alt="no image found">
<form method="POST">
	{% csrf_token %}
<!-- <input type="submit" value="Book and Proceed to Payment"/> -->
<!-- <a href="#" class="btn btn-primary" type="submit">Book Your Journey</a> -->


<a href="/sample" class="btn btn-primary" >Book Now</a>
</form>


</div>
</div>
</div>
{% endblock %}